* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #c40000;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

main {
    padding: 20px;
}

.resumo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card-resumo {
    flex: 1;
    min-width: 200px;
    background: #1f1f1f;
    border-left: 5px solid red;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card-resumo h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card-lutador button {
    margin-top: 15px;
    width: 100%;
}

.card-lutador button:hover {
    background: #8b0000;
}

.filtros {
    margin-bottom: 30px;
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

.formulario {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.formulario h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

input {
    flex: 1 1 250px;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: darkred;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-lutador {
    background: #1f1f1f;
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.card-lutador h2 {
    margin-bottom: 10px;
    color: red;
}

.card-lutador p {
    margin: 5px 0;
}

footer {
    margin-top: 40px;
    background: #1a1a1a;
    text-align: center;
    padding: 20px;
}

@media (max-width: 700px) {

    .resumo {
        flex-direction: column;
    }

    .cards {
        justify-content: center;
    }

}